<a href="https://colab.research.google.com/github/thilan-99/Machine-Learning-lab_03/blob/main/lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Mean or Median Imputation with pandas**

In [3]:
!pip install feature_engine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feature_engine
  Downloading feature_engine-1.6.1-py2.py3-none-any.whl (326 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 326.6/326.6 kB 6.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.10/dist-packages (from feature_engine) (1.22.4)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.10/dist-packages (from feature_engine) (1.5.3)
Requirement already satisfied: scikit-learn>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from feature_engine) (1.2.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from feature_engine) (1.10.1)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from feature_engine) (0.13.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.3->feature_engine) (2022.7.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0.0->feature_engine) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0.0->feature_engine) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.11.1->feature_engine) (23.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels>=0.11.1->feature_engine) (1.16.0)
Installing collected packages: feature_engine
Successfully installed feature_engine-1.6.1

In [4]:
import pandas as pd

#to split data sets:
from sklearn.model_selection import train_test_split

# toimpute missing data with sklearn:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#to impute misssing data with feature_engine:
from feature_engine.imputation import MeanMedianImputer

In [9]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/credit_approval_uci.csv")
data

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,target
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202.0,0,1
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43.0,560,1
2,a,24.50,NaN,u,g,q,h,NaN,NaN,NaN,0,f,g,280.0,824,1
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100.0,3,1
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,260.0,0,0
686,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,200.0,394,0
687,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,200.0,1,0
688,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,280.0,750,0
689,b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,0.0,0,0

In [6]:
x_train, x_test, y_train, y_test = train_test_split(data.drop("target", axis=1), data["target"], test_size=0.3, random_state=0)
x_train.shape, x_test.shape

((483, 15), (207, 15))

In [7]:
#inspect the proportion of missing vakue per variable:
x_train.isnull().mean()

A1     0.008282
A2     0.022774
A3     0.140787
A4     0.008282
A5     0.008282
A6     0.008282
A7     0.008282
A8     0.140787
A9     0.140787
A10    0.140787
A11    0.000000
A12    0.000000
A13    0.000000
A14    0.014493
A15    0.000000
dtype: float64

In [8]:
numeric_vars = x_train.select_dtypes(exclude="object").columns.to_list()
numeric_vars

['A2', 'A3', 'A8', 'A11', 'A14', 'A15']

In [11]:
median_values = x_train[numeric_vars].median().to_dict()
median_values

{'A2': 28.835, 'A3': 2.75, 'A8': 1.0, 'A11': 0.0, 'A14': 160.0, 'A15': 6.0}

In [14]:
#replacing missing values by median;

x_train = x_train.fillna(value = median_values)
x_test = x_test.fillna(value = median_values)
x_train.head()

    A1     A2     A3 A4 A5  A6  A7      A8 A9 A10  A11 A12 A13    A14   A15
596  a  46.08  3.000  u  g   c   v   2.375  t   t    8   t   g  396.0  4159
303  a  15.92  2.875  u  g   q   v   0.085  f   f    0   f   g  120.0     0
204  b  36.33  2.125  y  p   w   v   0.085  t   t    1   f   g   50.0  1187
351  b  22.17  0.585  y  p  ff  ff   0.000  f   f    0   f   g  100.0     0
118  b  57.83  7.040  u  g   m   v  14.000  t   t    6   t   g  360.0  1332

In [ ]:
# check the missing value availability

x_train[numeric_vars].isnull().sum()
#x_test[numeric_vars].isnull().sum()

A2     0
A3     0
A8     0
A11    0
A14    0
A15    0
dtype: int64

# **Mean/ Median imputation with scikit-learn**

In [ ]:
x = data.drop("target", axis = 1)
y = data["target"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
numeric_vars

['A2', 'A3', 'A8', 'A11', 'A14', 'A15']

In [ ]:
#make a list with non numerical variable

remaining_vars = [var for var in x_train.columns if var not in numeric_vars]
remaining_vars

['A1', 'A4', 'A5', 'A6', 'A7', 'A9', 'A10', 'A12', 'A13']

In [ ]:
imputer =  SimpleImputer(strategy="median")

#indicate variable to ipute:

ct = ColumnTransformer([("imputer" , imputer, numeric_vars)],remainder="passthrough")

ct.fit(x_train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('imputer', SimpleImputer(strategy='median'),
                                 ['A2', 'A3', 'A8', 'A11', 'A14', 'A15'])])

In [ ]:
#check the median that will be used in imputation

ct.named_transformers_.imputer.statistics_

array([ 28.25,   2.75,   1.  ,   0.  , 160.  ,   7.  ])

In [ ]:
#replace missing data

x_train = ct.transform(x_train)
x_test =ct.transform(x_test)

x_train

array([[18.42, 9.25, 1.21, ..., 't', 'f', 'g'],
       [17.08, 0.085, 0.04, ..., 'f', 'f', 'g'],
       [22.5, 11.5, 1.5, ..., 'f', 't', 'g'],
       ...,
       [37.58, 0.0, 0.0, ..., 'f', 'f', 'p'],
       [19.0, 0.0, 0.0, ..., 't', 'f', 'g'],
       [18.67, 5.0, 0.375, ..., 't', 'f', 'g']], dtype=object)

In [ ]:
x_train = pd.DataFrame(x_train, columns= numeric_vars + remaining_vars)
x_train.head()

      A2     A3     A8  A11    A14     A15 A1 A4 A5 A6 A7 A9 A10 A12 A13
0  18.42   9.25   1.21  4.0   60.0   540.0  a  u  g  q  v  t   t   f   g
1  17.08  0.085   0.04  0.0  140.0   722.0  b  y  p  c  v  f   f   f   g
2   22.5   11.5    1.5  0.0    0.0  4000.0  b  y  p  m  v  f   f   t   g
3  43.25  25.21   0.21  1.0  760.0    90.0  b  u  g  q  h  t   t   f   g
4  17.08   0.25  0.335  4.0  160.0     8.0  b  u  g  q  v  f   t   f   g

In [ ]:
x_train[numeric_vars].isnull().sum()

A2     0
A3     0
A8     0
A11    0
A14    0
A15    0
dtype: int64

In [ ]:
x_test = pd.DataFrame(x_test, columns= numeric_vars + remaining_vars)
x_test.head()

      A2   A3   A8  A11    A14    A15 A1 A4 A5  A6  A7 A9 A10 A12 A13
0  28.25  1.5  0.0  2.0  200.0  105.0  a  u  g  ff  ff  f   t   t   g
1   46.0  4.0  0.0  0.0  100.0  960.0  a  u  g   j   j  t   f   f   g
2   20.0  0.0  0.5  0.0  144.0    0.0  b  u  g   d   v  f   f   f   g
3  47.33  6.5  1.0  0.0    0.0  228.0  b  u  g   c   v  f   f   t   g
4  19.17  0.0  0.0  0.0  500.0    1.0  b  y  p   m  bb  f   f   t   s

In [ ]:
x_test[numeric_vars].isnull().sum()

A2     0
A3     0
A8     0
A11    0
A14    0
A15    0
dtype: int64

# Mean/ Median Imputation With Feature Engine

In [ ]:
x = data.drop("target", axis = 1)
y = data["target"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [ ]:
# set up the imputer to replace missing data with the median:
imputer = MeanMedianImputer( imputation_method = "median", variables= numeric_vars)

imputer.fit(x_train)

MeanMedianImputer(variables=['A2', 'A3', 'A8', 'A11', 'A14', 'A15'])

In [ ]:
imputer.imputer_dict_

{'A2': 28.25, 'A3': 2.75, 'A8': 1.0, 'A11': 0.0, 'A14': 160.0, 'A15': 7.0}

In [ ]:
# replace missing value with the median:
x_train = imputer.transform(x_train)
x_test = imputer.transform(x_test)

In [ ]:
x_train[numeric_vars].isnull().sum()

A2     0
A3     0
A8     0
A11    0
A14    0
A15    0
dtype: int64

In [ ]:
x_test[numeric_vars].isnull().sum()

A2     0
A3     0
A8     0
A11    0
A14    0
A15    0
dtype: int64